<header class="jumbotron">
        
<div class="col-md-10">
        <div *ngIf="!isSuccessful">
        <h2> Add the New user details</h2>
        </div>
    <div class="card card-container  bg-success">
             
<form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
       
    <div class="form-group">
          
                <label for="userFirstname">User First Name</label> <input type="text" class="form-control" name="userFirstname" 
                  [(ngModel)]="loanUserObj.userFirstname" required minlength="1" maxlength="20"
                #userFirstname="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && userFirstname.invalid">
                <div *ngIf="userFirstname.errors.required"> FirstName is required</div>
                <div *ngIf="userFirstname.errors.minlength">
                    FirstName must be at least 1 characters
                </div>
                <div *ngIf="userFirstname.errors.maxlength">
                    FirstName must be at most 20 characters
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="userLastname">User Last Name</label>
            <input type="text" class="form-control" name="userLastname" [(ngModel)]="loanUserObj.userLastname" required minlength="1" maxlength="20"
                #userLastname="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && userLastname.invalid">
                <div *ngIf="userLastname.errors.required">LastName is required</div>
                <div *ngIf="userLastname.errors.minlength">
                    LastName must be at least 1 characters
                </div>
                <div *ngIf="userLastname.errors.maxlength">
                    LastName must be at most 20 characters
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="userEmail">User Email</label>
            <input type="text" class="form-control" name="userEmail" [(ngModel)]="loanUserObj.userEmail" required email minlength="1"
                #userEmail="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && userEmail.invalid">
                <div *ngIf="userEmail.errors.required">Email is required</div>
                <div *ngIf="userEmail.errors.minlength">
                    Email must be at least 1 characters
                </div>
                
            </div>
        </div>
       
        <div> <h4>Property Address</h4></div>
        
        <div class="form-group">
                <label for="addressLine1">Address Line 1</label>
                <input type="text" class="form-control" name="addressLine1" [(ngModel)]="loanUserObj.propertyAddress.addressLine1" required minlength="1" maxlength="50"
                    #addressLine1="ngModel" />
                <div class="alert-danger" *ngIf="f.submitted && addressLine1.invalid">
                    <div *ngIf="addressLine1.errors.required">Address Line1 is required</div>
                    <div *ngIf="addressLine1.errors.minlength">
                            Address Line 1 must be at least 1 characters
                    </div>
                    <div *ngIf="addressLine1.errors.maxlength">
                            Address Line 1 must be at most 20 characters
                    </div>
                </div>
            </div>

            <div class="form-group">
                    <label for="addressLine2">Address Line 2</label>
                    <input type="text" class="form-control" name="addressLine2" [(ngModel)]="loanUserObj.propertyAddress.addressLine2"  maxlength="50"
                        #addressLine2="ngModel" />
                    <div class="alert-danger" *ngIf="f.submitted && addressLine2.invalid">
                        <div *ngIf="addressLine2.errors.maxlength">
                                Address Line 2 must be at most 20 characters
                        </div>
                    </div>
            </div>

            <div class="form-group">
                    <label for="addressLine3">Address Line 3</label>
                    <input type="text" class="form-control" name="addressLine3" [(ngModel)]="loanUserObj.propertyAddress.addressLine3"  maxlength="50"
                        #addressLine3="ngModel" />
                    <div class="alert-danger" *ngIf="f.submitted && addressLine3.invalid">
                        <div *ngIf="addressLine3.errors.maxlength">
                                Address Line 3 must be at most 20 characters
                        </div>
                    </div>
            </div>

            <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" class="form-control" name="city" [(ngModel)]="loanUserObj.propertyAddress.city" required minlength="1" maxlength="20"
                        #city="ngModel" />
                    <div class="alert-danger" *ngIf="f.submitted && city.invalid">
                        <div *ngIf="city.errors.required">City is required</div>
                        <div *ngIf="city.errors.minlength">
                                City must be at least 1 characters
                        </div>
                        <div *ngIf="city.errors.maxlength">
                                City must be at most 20 characters
                        </div>
                    </div>
                </div>
 
                <div class="form-group">
                        <label for="state">State</label>
                        <input type="text" class="form-control" name="state" [(ngModel)]="loanUserObj.propertyAddress.state" required minlength="1" maxlength="20"
                            #state="ngModel" />
                        <div class="alert-danger" *ngIf="f.submitted && state.invalid">
                            <div *ngIf="state.errors.required">state is required</div>
                            <div *ngIf="state.errors.minlength">
                                    state must be at least 1 characters
                            </div>
                            <div *ngIf="state.errors.maxlength">
                                    state must be at most 20 characters
                            </div>
                        </div>
                    </div>

                
                    <div class="form-group">
                            <label for="country">Country</label>
                            <input type="text" class="form-control" name="country" [(ngModel)]="loanUserObj.propertyAddress.country" required minlength="1" maxlength="20"
                                #country="ngModel" />
                            <div class="alert-danger" *ngIf="f.submitted && country.invalid">
                                <div *ngIf="country.errors.required">Country is required</div>
                                <div *ngIf="country.errors.minlength">
                                        Country must be at least 1 characters
                                </div>
                                <div *ngIf="country.errors.maxlength">
                                        Country must be at most 20 characters
                                </div>
                            </div>
                        </div>
    
        <div class="form-group">
            <button class="btn btn-primary ">Add User</button>
        </div>

        <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Adding New Loan failed!
            <br />{{ errorMessage }}
        </div>
        </form>

        <div class="alert alert-success" *ngIf="isSuccessful">
            New Loan entry is Successful!!  
        </div>
        <div *ngIf="isSuccessful">
            <h3>List of Users</h3>
             <table mdbTable mdbTableScroll scrollY="true" maxHeight="200" bordered="true">
                        <thead>
                          <tr>
                            <th>User Firstname</th>
                            <th>User Lastname</th>
                            <th>User Email</th>
                          </tr>
                        </thead>
                             <tr *ngFor ="let loanuser Of loanUsersObj" >
                                <td>{{loanuser.userFirstname}}</td>
                                <td>{{loanuser.userLastname}}</td>
                                <td>{{loanuser.userEmail}}</td>
                              </tr>
                        <tbody>
                </table>

</div>
        <div class="text-right mb-8">
        <button class="btn btn-primary" (click)="goBack()">Back to Admin</button>
        </div>
    </div>
</div>