<div class="card-deck">

    <div  class="col-md-8 card">
            <h2> Loan search Form</h2>
        <div class="card card-body">
          
            <form name="form" (ngSubmit)="f.form.valid && search()" #f="ngForm" novalidate>
                <div class="row">
                    <div class="col-sm-5 form-group">
                        <label for="borrowerFirstname">Enter First Name of User</label>
                        <input type="text" class="form-control" name="borrowerFirstname" [(ngModel)]="searchCriteria.borrowerFirstname" #userFirstname="ngModel"
                        />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5 form-group">
                        <label for="borrowerLastname">Enter Last Name of User</label>
                        <input type="text" class="form-control" name="borrowerLastname" [(ngModel)]="searchCriteria.borrowerLastname" #userLastname="ngModel"
                        />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-5 form-group">

                        <label for="loanNumber">Enter User Loan Number</label>
                        <input type="text" class="form-control" name="loanNumber" [(ngModel)]="searchCriteria.loanNumber" #loanNumber="ngModel" />
                    </div>
                </div>

                <div class="form-group">
                    <button class="btn btn-danger">Search Loan</button> 
                </div>

          

                <div class="alert alert-success" *ngIf="f.submitted && isNotUnique">
                    <p> Search Result:</p>
                </div>
                <div *ngIf="isNotUnique">
                    <h3>List of Loans for the Borrower</h3>
                    <table class="table  table-info table-bordered ">
                        <thead class="thead-light">
                            <tr>
                                <th>Loan Number</th>
                                <th>View Loan</th>
                                <th *ngIf="isAdminRole">Update Loan</th>
                            </tr>
                        </thead>
                        <tr *ngFor="let loanInfo Of loanInformationList; let indexOfelement=index;">
                            <td>{{loanInfo.loanNumber}}</td>
                            <td>
                                <button mdbBtn color="blue" rounded="true" type="button" class="m-0" (click)="viewDetails(indexOfelement)">View</button>
                            </td>
                            <td *ngIf="isAdminRole">
                                <button mdbBtn color="blue" rounded="true" type="button" class="m-0"  (click)="updateDetails(indexOfelement)">Update</button>
                            </td>
                        </tr>
                        <tbody>
                    </table>
                </div>
                <div class="alert alert-danger" *ngIf="isSearchFailed">
                    <p>Kindly fine tune Search criteria and search again</p>
                </div>
            </form>
        </div>
        <!-- </div> -->
    </div>
    <!-- <div class="card"> -->
    <div *ngIf="isDisplayDetails" class="card col-md-5">
        <h2>Details of Searched Loan</h2>
        <div class="card card-body">

            <form name="form" (ngSubmit)="f.form.valid && updateLoan()" #f="ngForm" novalidate>

                <div class="form-group">
                    <label for="loanUserEmail">Borrower Email</label>
                    <input type="text" class="form-control" name="loanUserEmail" [(ngModel)]="loanInformation.loanUserEmail" required email minlength="1"
                        #loanUserEmail="ngModel" readonly/>
                    <div class="alert-danger" *ngIf="f.submitted && loanUserEmail.invalid">
                        <div *ngIf="loanUserEmail.errors.required">Email is required</div>
                        <div *ngIf="loanUserEmail.errors.minlength">
                            Email must be at least 1 characters
                        </div>

                    </div>
                </div>


                <div class="form-group">
                    <label for="loanNumber">Loan Number</label>
                    <input type="text" class="form-control" name="loanNumber" [(ngModel)]="loanInformation.loanNumber" required #loanNumber="ngModel"
                        readonly />
                    <div class="alert-danger" *ngIf="f.submitted && loanNumber.invalid">
                        <div *ngIf="loanNumber.errors.required">Loan Number is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="loanAmount">Loan Amount</label>
                    <input type="text" class="form-control" name="loanAmount" [(ngModel)]="loanInformation.loanAmount" required #loanAmount="ngModel"
                        [readonly]="!isAdminRole || !isUpdateAllowed" />
                    <div class="alert-danger" *ngIf="f.submitted && loanAmount.invalid">
                        <div *ngIf="loanAmount.errors.required">Loan Amount is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="loanTerm">Loan Term</label>
                    <input type="text" class="form-control" name="loanTerm" [(ngModel)]="loanInformation.loanTerm" required #loanTerm="ngModel"
                        [readonly]="!isAdminRole || !isUpdateAllowed" />
                    <div class="alert-danger" *ngIf="f.submitted && loanTerm.invalid">
                        <div *ngIf="loanTerm.errors.required">Loan Term is required</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="loanStatus">Select Loan Status:</label>  
                    <select class="form-control" id="loanStatus" name="loanStatus"[(ngModel)]="loanInformation.loanStatus"  [disabled]="!isAdminRole || !isUpdateAllowed" >
                        <option value="0">ACTIVE</option>
                        <option value="1">CLOSED</option>
                        <option value="2">INITIATED</option>
                        <option value="3">WAIVED</option>
                        <option value="4">CANCELLED</option>
                      </select>                
                </div>

                <div class="form-group">
                    <label for="loanMgtFees">Loan Management Fees</label>
                    <input type="text" class="form-control" name="loanMgtFees" [(ngModel)]="loanInformation.loanMgtFees" required #loanMgtFees="ngModel"
                        [readonly]="!isAdminRole || !isUpdateAllowed" />
                    <div class="alert-danger" *ngIf="f.submitted && loanMgtFees.invalid">
                        <div *ngIf="loanMgtFees.errors.required">Loan Management Fees is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="originationAccount">Loan Origination Account</label>
                    <input type="text" class="form-control" name="originationAccount" [(ngModel)]="loanInformation.originationAccount" required
                        #originationAccount="ngModel" [readonly]="!isAdminRole || !isUpdateAllowed" />
                    <div class="alert-danger" *ngIf="f.submitted && originationAccount.invalid">
                        <div *ngIf="originationAccount.errors.required">Loan origination Account is required</div>
                    </div>
                </div>

                <div class="form-group" *ngIf="isAdminRole && isUpdateAllowed">
                    <button class="btn btn-primary ">Update Loan</button>
                     
                </div>
                <div class="form-group" >
                <button class="btn btn-primary" (click)="goBackToSearch()">Back to Search</button>
                </div>
                <div class="alert alert-success" *ngIf="f.submitted && isUpdateSuccess">
                    Updating Loan Details Successful!!
                </div>

                <div class="alert alert-warning" *ngIf="f.submitted && !isUpdateSuccess">
                    Updating Loan Details failed!
                    <br/>{{ errormessage }}
                </div>
            </form>
        </div>
       
    </div>
    <!-- </div> -->
</div>