<header class="jumbotron">
        
    <div class="col-md-10">
            <h2>Details of Searched Loan</h2>
        <div class="card card-container">

<form  *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && updateUser()" #f="ngForm" novalidate>

    <div class="form-group">
      
            <label for="userFirstname">User First Name</label> <input type="text" class="form-control" name="userFirstname" 
            [(ngModel)]="loanUser.userFirstname" required minlength="1" maxlength="20" [readonly]="!isAdminRole || !isUpdateAllowed"
            #userFirstname="ngModel"  />
        <div class="alert-danger" *ngIf="f.submitted && userFirstname.invalid">
            <div *ngIf="userFirstname.errors.required"> FirstName is required</div>
            <div *ngIf="userFirstname.errors.minlength">
                FirstName must be at least 1 characters
            </div>
            <div *ngIf="userFirstname.errors.maxlength">
                FirstName must be at most 20 characters
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="userLastname">User Last Name</label>
        <input type="text" class="form-control" name="userLastname" [(ngModel)]="loanUser.userLastname" required minlength="1" maxlength="20"  [readonly]="!isAdminRole  || !isUpdateAllowed"
            #userLastname="ngModel" />
        <div class="alert-danger" *ngIf="f.submitted && userLastname.invalid">
            <div *ngIf="userLastname.errors.required">LastName is required</div>
            <div *ngIf="userLastname.errors.minlength">
                LastName must be at least 1 characters
            </div>
            <div *ngIf="userLastname.errors.maxlength">
                LastName must be at most 20 characters
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="loanNumber">Loan Number</label>
        <input type="text" class="form-control" name="loanNumber" [(ngModel)]="loanUser.loanNumber" [readonly]="!isAdminRole || !isUpdateAllowed " required #loanNumber="ngModel" />
        <div class="alert-danger" *ngIf="f.submitted && loanNumber.invalid">
            <div *ngIf="loanNumber.errors.required">Loan Number is required</div>
        </div>
    </div>
    <div> <h4>Property Address</h4></div>
    
    <div class="form-group">
            <label for="addressLine1">Address Line 1</label>
            <input type="text" class="form-control" name="addressLine1" [(ngModel)]="loanUser.addressLine1" [readonly]="!isAdminRole  || !isUpdateAllowed" required minlength="1" maxlength="20"
                #addressLine1="ngModel" />
            <div class="alert-danger" *ngIf="f.submitted && addressLine1.invalid">
                <div *ngIf="addressLine1.errors.required">Address Line1 is required</div>
                <div *ngIf="addressLine1.errors.minlength">
                        Address Line 1 must be at least 1 characters
                </div>
                <div *ngIf="addressLine1.errors.maxlength">
                        Address Line 1 must be at most 20 characters
                </div>
            </div>
        </div>

        <div class="form-group">
                <label for="addressLine2">Address Line 2</label>
                <input type="text" class="form-control" name="addressLine2" [(ngModel)]="loanUser.addressLine2"  maxlength="20" [readonly]="!isAdminRole  || !isUpdateAllowed"
                    #addressLine2="ngModel"/>
                <div class="alert-danger" *ngIf="f.submitted && addressLine2.invalid">
                    <div *ngIf="addressLine2.errors.maxlength">
                            Address Line 2 must be at most 20 characters
                    </div>
                </div>
        </div>

        <div class="form-group">
                <label for="addressLine3">Address Line 3</label>
                <input type="text" class="form-control" name="addressLine3" [(ngModel)]="loanUser.addressLine3"  maxlength="20" [readonly]="!isAdminRole  || !isUpdateAllowed"
                    #addressLine3="ngModel" />
                <div class="alert-danger" *ngIf="f.submitted && addressLine3.invalid">
                    <div *ngIf="addressLine3.errors.maxlength">
                            Address Line 3 must be at most 20 characters
                    </div>
                </div>
        </div>

        <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" name="city" [(ngModel)]="loanUser.city" required minlength="1" maxlength="20" [readonly]="!isAdminRole  || !isUpdateAllowed"
                    #city="ngModel" />
                <div class="alert-danger" *ngIf="f.submitted && city.invalid">
                    <div *ngIf="city.errors.required">City is required</div>
                    <div *ngIf="city.errors.minlength">
                            City must be at least 1 characters
                    </div>
                    <div *ngIf="city.errors.maxlength">
                            City must be at most 20 characters
                    </div>
                </div>
            </div>

            <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" class="form-control" name="state" [(ngModel)]="loanUser.state" required minlength="1" maxlength="20" [readonly]="!isAdminRole || !isUpdateAllowed"
                        #state="ngModel" />
                    <div class="alert-danger" *ngIf="f.submitted && state.invalid">
                        <div *ngIf="state.errors.required">state is required</div>
                        <div *ngIf="state.errors.minlength">
                                state must be at least 1 characters
                        </div>
                        <div *ngIf="state.errors.maxlength">
                                state must be at most 20 characters
                        </div>
                    </div>
                </div>

            
                <div class="form-group">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" name="country" [(ngModel)]="loanUser.country" required minlength="1" maxlength="20" [readonly]="!isAdminRole || !isUpdateAllowed"
                            #country="ngModel" />
                        <div class="alert-danger" *ngIf="f.submitted && country.invalid">
                            <div *ngIf="country.errors.required">Country is required</div>
                            <div *ngIf="country.errors.minlength">
                                    Country must be at least 1 characters
                            </div>
                            <div *ngIf="country.errors.maxlength">
                                    Country must be at most 20 characters
                            </div>
                        </div>
                    </div>


    <div class="form-group" *ngIf="isAdminRole && isUpdateAllowed">
        <button class="btn btn-primary ">Update Loan</button>
    </div>
   
   
    <div class="alert alert-success" *ngIf="f.submitted && isUpdateSuccess">
        Updating  Loan  Details Successful!!
     </div>

    <div class="alert alert-warning" *ngIf="f.submitted && !isUpdateSuccess">
           Updating  Loan  Details failed!
            <br/>{{ errorMessage }}
        </div>
    </form>
</div>
<button class="btn btn-primary" (click) ="goBack()">Back to Search</button>
</div>