<div class="container" *ngIf="adminUser; else loggedOut">

  <header class="jumbotron">
    <p>Please click on originate button to add New Loan information</p>

    <button class="btn btn-info" (click)="openAddUserForm()">Add/Originate New Loan</button>

    <p>Please click on Search Loans button to Search and Modify Existing Loan information</p>

    <div>
      <button type="button" class="btn btn-info" (click)="openSearchForm()">
        Search Loans
      </button>
    </div>

  </header>
</div>

<ng-template #loggedOut class="alert-danger">

  You donot have Admin Please login as Admin.

</ng-template>

<!-- <ol>
    <li>
      <mat-form-field>
        <mat-label>What's your name?</mat-label>
        <input matInput [(ngModel)]="name">
      </mat-form-field>
    </li>
    <li>
      <button mat-raised-button (click)="openDialog()">Pick one</button>
    </li>
    <li *ngIf="animal">
      You chose: <i>{{animal}}</i>
    </li>
  </ol> -->