<div class="container" *ngIf="isLoggedIn; else loggedOut">

  <header class="jumbotron">
    <div *ngIf="adminUser">
    <p>Please click on originate button to add New Loan information</p>
    <button class="btn btn-info" (click)="openAddUserForm()">Add/Originate New Loan</button>
  </div>
    <p>Please click on Search Loans button to Search and Modify Existing Loan information</p>
    <div>
      <button type="button" class="btn btn-info" (click)="openSearchForm()">
        Search Loans
      </button>
    </div>
  </header>
</div>

<ng-template #loggedOut class="alert-danger">
  Please login!!
</ng-template>