.button {
    color: #6b6868;
  }
  
  */
  .tableSection {
      display: block;
      width: 100%;
      height: 100%;
      overflow-x: auto;
  }
  
  .matTable {
      /* width: 40em; */
      overflow: scroll;
  }
  
  .mat-header-cell{
    text-align: left;
    background-color:#dc3545;
  }
  
  .mat-cell {
    text-align: left;
  }
  
  .mat-checkbox {
      text-align: center;
  }
  
  .formError {
    color: red;
    font-size: smaller;
  }
  