<div class="container">
  
    <p>Today’s loan origination landscape is forcing lenders to rethink their workflow engines to adapt to the new environment.
      Without a strategic approach to designing the workflow engine, lenders will find themselves battling rising costs and
      inefficiencies in an increasingly fragmented and competitive marketplace. Loan origination typically begins with a
      bank setting up the borrowing entity in the origination software and ends with the loan being either approved or rejected.
      Throughout this process, multiple teams from different business units, sometimes located in different offices or cities,
      need to get involved on a selective basis to do specific tasks. This operational complexity makes it critically important
      for lenders to come up with a solution that makes the commercial loan origination process efficient and helps them
      reach decisions faster.</p>
      
    <p>
      A workflow engine can help community banks achieve this goal by providing a “surge capacity”
      to get loan applications processed quickly and efficiently. Tracking credit administration, recording exceptions, approving
      deals, mitigating risk, and monitoring covenants – if done in one system – could empower lenders to accomplish cumbersome
      lending processes without duplication of effort within 15 to 20 minutes of approval by the loan committee Manual workflows
      are often slow, error-prone, and result in unhappy customers. At the other extreme are completely automated, rules-based
      processes that are too inflexible to handle exceptions on the fly.A practical solution is one that combines the best
      of automation, rule-based efficiencies, and judgment logic. It is a kit with defined roles, responsibilities, and best
      practices to improve interaction and alignment among teams involved in the loan origination process, without creating
      extra work for the relationship managers, credit analysts, or approvers. The availability of templates, step-by-step
      checklists, and detailed guidelines takes away some variability in performance at an individual level. Not only does
      this keep everyone in the organization on the same page, it also lends critical consistency to a process composed of
      multiple tasks and subtasks.</p>
 </div>